# -*- mode: gitignore; -*-

### gitignore https://github.com/github/gitignore

### * git
### ** private files
nogit_*
*_nogit

### * Editors
### ** Emacs 
*~
\#*\#
.\#*

### ** Vi
*.swp

### ** Python
*.pyc
